RedirectMatch 404 /\.git
RedirectMatch 404 /\.gitignore

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://pool01.mietkamera.de/$1 [L,R=301]

Options -Indexes -MultiViews

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
  # Caching
  Header set Cache-Control "public"
  # X-Frame Embedding
  # Header always unset X-Frame-Options
  Header append X-Frame-Options: "ALLOW FROM https://rolix.de"
  Header append X-Frame-Options: "ALLOW FROM https://mietkamera.de"
  Header append X-Frame-Options: "ALLOW FROM https://www.procurand.de"
</IfModule> 
