@charset "utf-8";
/* CSS Document */

body{
	background:#f1f9f9;
}

.control-bar-black {
  position: absolute;            /* absolute position (so we can position it where we want)*/
  top: 0px;                      /* position will be on bottom */
  left: 0px; 
  width: 100%; 
  background-color: #000;
  color: #fff;
  opacity: 0.75;                 /* transparency */
  filter: alpha(opacity=75);    /* IE transparency */
}

.control-bar-white {
  position: absolute;            /* absolute position (so we can position it where we want)*/
  top: 0px;                      /* position will be on bottom */
  left: 0px; 
  width: 100%; 
  background-color: #fff;
  color: #000;
  opacity: 0.80;                 /* transparency */
  filter: alpha(opacity=80);    /* IE transparency */
}

.control-bar-bottom-white {
  position: absolute;            /* absolute position (so we can position it where we want)*/
  bottom: 0px;                      /* position will be on bottom */
  left: 0px; 
  width: 100%; 
  background-color: #fff;
  color: #000;
  opacity: 0.80;                 /* transparency */
  filter: alpha(opacity=80);    /* IE transparency */
}

.auto-scale {
  width: 100%;
  height:auto;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .775rem;
  line-height: .5;
  border-radius: .2rem;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    margin-top:90px;
    background-color: #fff;
	
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
			
	font-family:Tahoma, Geneva, sans-serif;
	color:#990000;
	font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:#00A2D1;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

